[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group Nvidia Shield
	push = group Nvidia Shield
	label-Code-Review = -2..+2 group Nvidia Shield
	label-Verified = -1..+1 group Nvidia Shield
	submit = group Nvidia Shield
	forgeAuthor = group Nvidia Shield
	forgeCommitter = group Nvidia Shield
